In [4]:
import pandas as pd
import numpy as np

# Tabla Hogar

Encuesta Nacional de Ocupación y Empleo

Nombre dse la tabla de datos: HOGT

Carga de Datos

# #2011

In [2]:
path_hogt111 = 'C:/Users/sala5/Desktop/ENOE/2011/hogt111.csv'
df_hogt111 = pd.read_csv(path_hogt111, low_memory=False, encoding='latin')
df_hogt111.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,3,1,11,2,4,NaN,3,1,100
1,1,1,32,121,0,1,14,1,1,802,...,0,7,1,11,1,4,NaN,1,1,100
2,1,1,32,121,0,1,14,1,1,802,...,0,4,1,11,2,4,NaN,3,1,100
3,1,1,32,121,0,1,14,1,1,802,...,0,3,1,11,2,4,NaN,2,1,100
4,1,1,32,121,0,1,14,1,1,802,...,0,3,1,11,2,4,NaN,1,1,100

In [5]:
path_hogt211 = 'C:/Users/sala5/Desktop/ENOE/2011/hogt211.csv'
df_hogt211 = pd.read_csv(path_hogt211, low_memory=False, encoding='latin')
df_hogt211.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,4,4,11,2,4,NaN,2,1,102
1,1,1,32,121,0,1,14,1,1,802,...,0,8,4,11,2,4,NaN,1,1,102
2,1,1,32,121,0,1,14,1,1,802,...,0,8,4,11,2,4,NaN,3,1,102
3,1,1,32,121,0,1,14,1,1,802,...,0,4,4,11,2,4,NaN,1,1,102
4,1,1,32,121,0,1,14,1,1,802,...,0,4,4,11,2,4,NaN,1,1,102

In [6]:
path_hogt311 = 'C:/Users/sala5/Desktop/ENOE/2011/hogt311.csv'
df_hogt311 = pd.read_csv(path_hogt311, low_memory=False, encoding='latin')
df_hogt311.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,7,7,11,2,4,NaN,2,1,104
1,1,1,32,121,0,1,14,1,1,802,...,0,5,7,11,2,4,NaN,1,1,104
2,1,1,32,121,0,1,14,1,1,802,...,0,6,7,11,2,4,NaN,2,1,104
3,1,1,32,121,0,1,14,1,1,802,...,0,7,7,11,2,4,NaN,1,1,104
4,1,1,32,121,0,1,14,1,1,802,...,6,13,7,11,,,NaN,0,1,104

In [7]:
path_hogt411 = 'C:/Users/sala5/Desktop/ENOE/2011/hogt411.csv'
df_hogt411 = pd.read_csv(path_hogt411, low_memory=False, encoding='latin')
df_hogt411.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,3,10,11,2,4,NaN,1,1,103
1,1,1,32,121,0,1,14,1,1,802,...,0,4,10,11,2,4,NaN,1,1,103
2,1,1,32,121,0,1,14,1,1,802,...,0,4,10,11,2,4,NaN,1,1,103
3,1,1,32,121,0,1,14,1,1,802,...,0,4,10,11,2,4,NaN,1,1,103
4,1,1,32,121,0,1,14,1,1,802,...,6,12,10,11,,,NaN,0,1,103

Se copia la información para no volver a cargar todo

In [8]:
df_copy_hogt111 = df_hogt111.copy()
df_copy_hogt211 = df_hogt211.copy()
df_copy_hogt311 = df_hogt311.copy()
df_copy_hogt411 = df_hogt411.copy()

In [9]:
print('hogt111: ', df_copy_hogt111.shape)
print('hogt211: ', df_copy_hogt211.shape)
print('hogt311: ', df_copy_hogt311.shape)
print('hogt411: ', df_copy_hogt411.shape)
print('total: ', 
      df_copy_hogt111.shape[0]+
      df_copy_hogt211.shape[0]+
      df_copy_hogt311.shape[0]+
      df_copy_hogt411.shape[0])

hogt111:  (121564, 31)
hogt211:  (121558, 31)
hogt311:  (121575, 31)
hogt411:  (121526, 31)
total:  486223

In [10]:
#concatenar
frames = [df_copy_hogt111, 
          df_copy_hogt211, 
          df_copy_hogt311, 
          df_copy_hogt411]

df_hogt_2011 = pd.concat(frames)
df_hogt_2011.shape

(486223, 31)

## Exportar a CSV

In [11]:
#exportar csv

path_df_hogt_2011 = 'C:/Users/sala5/Desktop/ENOE/2011/hogt_2011.csv'

df_hogt_2011.to_csv(path_or_buf=path_df_hogt_2011, index=True, encoding='utf-8')

## 2012

In [12]:
path_hogt112 = 'C:/Users/sala5/Desktop/ENOE/2012/hogt112.csv'
df_hogt112 = pd.read_csv(path_hogt112, low_memory=False, encoding='latin')
df_hogt112.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,4,1,12,1,4,NaN,6,1,105
1,1,1,32,121,0,1,14,1,1,802,...,0,5,1,12,2,4,NaN,1,1,105
2,1,1,32,121,0,1,14,1,1,802,...,0,6,1,12,2,4,NaN,1,1,105
3,1,1,32,121,0,1,14,1,1,802,...,0,6,1,12,2,4,NaN,7,1,105
4,1,1,32,121,0,1,14,1,1,802,...,0,5,1,12,2,4,NaN,1,1,105

In [13]:
path_hogt212 = 'C:/Users/sala5/Desktop/ENOE/2012/hogt212.csv'
df_hogt212 = pd.read_csv(path_hogt212, low_memory=False, encoding='latin')
df_hogt212.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,2,4,12,2,4,NaN,3,1,104
1,1,1,32,121,0,1,14,1,1,802,...,0,2,4,12,2,4,NaN,1,1,104
2,1,1,32,121,0,1,14,1,1,802,...,0,2,4,12,2,4,NaN,1,1,104
3,1,1,32,121,0,1,14,1,1,802,...,0,2,4,12,2,4,NaN,97,1,104
4,1,1,32,121,0,1,14,1,1,802,...,0,2,4,12,2,4,NaN,3,1,104

In [14]:
path_hogt312 = 'C:/Users/sala5/Desktop/ENOE/2012/hogt312.csv'
df_hogt312 = pd.read_csv(path_hogt312, low_memory=False, encoding='latin')
df_hogt312.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,3,7,12,2,4,NaN,3,1,107
1,1,1,32,121,0,1,14,1,1,802,...,0,7,7,12,2,4,NaN,1,1,107
2,1,1,32,121,0,1,14,1,1,802,...,0,6,7,12,2,4,NaN,1,1,107
3,1,1,32,121,0,1,14,1,1,802,...,0,5,7,12,2,4,NaN,97,1,107
4,1,1,32,121,0,1,14,1,1,802,...,0,7,7,12,2,4,NaN,1,1,107

In [15]:
path_hogt412 = 'C:/Users/sala5/Desktop/ENOE/2012/hogt412.csv'
df_hogt412 = pd.read_csv(path_hogt412, low_memory=False, encoding='latin')
df_hogt412.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,121,0,1,14,1,1,802,...,0,3,10,12,2,4,NaN,3,1,106
1,1,1,32,121,0,1,14,1,1,802,...,0,2,10,12,2,4,NaN,2,1,106
2,1,1,32,121,0,1,14,1,1,802,...,0,3,10,12,2,4,NaN,2,1,106
3,1,1,32,121,0,1,14,1,1,802,...,0,2,10,12,2,4,NaN,2,1,106
4,1,1,32,121,0,1,14,1,1,802,...,0,3,10,12,2,4,NaN,1,1,106

In [16]:
df_copy_hogt112 = df_hogt112.copy()
df_copy_hogt212 = df_hogt212.copy()
df_copy_hogt312 = df_hogt312.copy()
df_copy_hogt412 = df_hogt412.copy()

In [17]:
print('hogt112: ', df_copy_hogt112.shape)
print('hogt212: ', df_copy_hogt212.shape)
print('hogt312: ', df_copy_hogt312.shape)
print('hogt412: ', df_copy_hogt412.shape)
print('total: ', 
      df_copy_hogt112.shape[0]+
      df_copy_hogt212.shape[0]+
      df_copy_hogt312.shape[0]+
      df_copy_hogt412.shape[0])

hogt112:  (121498, 31)
hogt212:  (121583, 31)
hogt312:  (121633, 31)
hogt412:  (121621, 31)
total:  486335

In [18]:
#concatenar
frames = [df_copy_hogt112, 
          df_copy_hogt212, 
          df_copy_hogt312, 
          df_copy_hogt412]

df_hogt_2012 = pd.concat(frames)
df_hogt_2012.shape

(486335, 31)

## Exportar a CSV

In [19]:
#exportar csv

path_df_hogt_2012 = 'C:/Users/sala5/Desktop/ENOE/2012/hogt_2012.csv'

df_hogt_2012.to_csv(path_or_buf=path_df_hogt_2012, index=True, encoding='utf-8')

## 2013

In [20]:
path_hogt113 = 'C:/Users/sala5/Desktop/ENOE/2013/hogt113.csv'
df_hogt113 = pd.read_csv(path_hogt113, low_memory=False, encoding='latin')
df_hogt113.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,1121,0,1,14,1,1,802,...,0,31,12,12,2,4,NaN,3,1,103
1,1,1,32,1121,0,1,14,1,1,802,...,0,31,12,12,2,4,NaN,1,1,103
2,1,1,32,1121,0,1,14,1,1,802,...,0,31,12,12,2,4,NaN,3,1,103
3,1,1,32,1121,0,1,14,1,1,802,...,0,31,12,12,2,4,NaN,3,1,103
4,1,1,32,1121,0,1,14,1,1,802,...,0,31,12,12,2,4,NaN,1,1,103

In [21]:
path_hogt213 = 'C:/Users/sala5/Desktop/ENOE/2013/hogt213.csv'
df_hogt213 = pd.read_csv(path_hogt213, low_memory=False, encoding='latin')
df_hogt213.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,1121,0,1,14,1,1,802,...,0,2,4,13,2,4,NaN,2,1,104
1,1,1,32,1121,0,1,14,1,1,802,...,0,1,4,13,2,4,NaN,2,1,104
2,1,1,32,1121,0,1,14,1,1,802,...,0,1,4,13,2,4,NaN,2,1,104
3,1,1,32,1121,0,1,14,1,1,802,...,0,5,4,13,2,4,NaN,1,1,104
4,1,1,32,1121,0,1,14,1,1,802,...,0,2,4,13,2,4,NaN,3,1,104

In [22]:
path_hogt313 = 'C:/Users/sala5/Desktop/ENOE/2013/hogt313.csv'
df_hogt313 = pd.read_csv(path_hogt313, low_memory=False, encoding='latin')
df_hogt313.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,1121,0,1,14,1,1,802,...,0,2,7,13,2,4,NaN,2,1,103
1,1,1,32,1121,0,1,14,1,1,802,...,0,4,7,13,2,4,NaN,1,1,103
2,1,1,32,1121,0,1,14,1,1,802,...,0,6,7,13,2,4,NaN,2,1,103
3,1,1,32,1121,0,1,14,1,1,802,...,0,7,7,13,2,4,NaN,2,1,103
4,1,1,32,1121,0,1,14,1,1,802,...,6,11,7,13,,,NaN,0,1,103

In [23]:
path_hogt413 = 'C:/Users/sala5/Desktop/ENOE/2013/hogt413.csv'
df_hogt413 = pd.read_csv(path_hogt413, low_memory=False, encoding='latin')
df_hogt413.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,32,1121,0,1,14,1,1,802,...,0,3,10,13,2,4,NaN,1,1,97
1,1,1,32,1121,0,1,14,1,1,802,...,0,1,10,13,2,4,NaN,1,1,97
2,1,1,32,1121,0,1,14,1,1,802,...,0,3,10,13,2,4,NaN,97,1,97
3,1,1,32,1121,0,1,14,1,1,802,...,0,3,10,13,2,4,NaN,1,1,97
4,1,1,32,1121,0,1,14,1,1,802,...,0,3,10,13,2,4,NaN,1,1,97

In [24]:
df_copy_hogt113 = df_hogt113.copy()
df_copy_hogt213 = df_hogt213.copy()
df_copy_hogt313 = df_hogt313.copy()
df_copy_hogt413 = df_hogt413.copy()

In [25]:
print('hogt113: ', df_copy_hogt113.shape)
print('hogt213: ', df_copy_hogt213.shape)
print('hogt313: ', df_copy_hogt313.shape)
print('hogt413: ', df_copy_hogt413.shape)
print('total: ', 
      df_copy_hogt113.shape[0]+
      df_copy_hogt213.shape[0]+
      df_copy_hogt313.shape[0]+
      df_copy_hogt413.shape[0])

hogt113:  (121359, 31)
hogt213:  (121270, 31)
hogt313:  (121190, 31)
hogt413:  (121116, 31)
total:  484935

In [26]:
#concatenar
frames = [df_copy_hogt113, 
          df_copy_hogt213, 
          df_copy_hogt313, 
          df_copy_hogt413]

df_hogt_2013 = pd.concat(frames)
df_hogt_2013.shape

(484935, 31)

In [27]:
#exportar csv

path_df_hogt_2013 = 'C:/Users/sala5/Desktop/ENOE/2013/hogt_2013.csv'

df_hogt_2013.to_csv(path_or_buf=path_df_hogt_2013, index=True, encoding='utf-8')

## 2014

In [28]:
path_hogt114 = 'C:/Users/sala5/Desktop/ENOE/2014/hogt114.csv'
df_hogt114 = pd.read_csv(path_hogt114, low_memory=False, encoding='latin')
df_hogt114.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,30,2,0,1,14,1,40001,100377,...,0,30,12,13,2,4,NaN,1,1,106
1,1,1,30,2,0,1,14,1,40001,100377,...,0,30,12,13,2,4,NaN,3,1,106
2,1,1,30,2,0,1,14,1,40001,100377,...,0,2,1,14,2,4,NaN,4,1,106
3,1,1,30,2,0,1,14,1,40001,100377,...,0,12,1,14,2,4,NaN,2,1,106
4,1,1,30,2,0,1,14,1,40001,100377,...,0,31,12,13,2,4,NaN,97,1,106

In [29]:
path_hogt214 = 'C:/Users/sala5/Desktop/ENOE/2014/hogt214.csv'
df_hogt214 = pd.read_csv(path_hogt214, low_memory=False, encoding='latin')
df_hogt214.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,30,2,0,1,14,1,40001,100377,...,0,1,4,14,2,4,NaN,3,1,107
1,1,1,30,2,0,1,14,1,40001,100377,...,0,1,4,14,2,4,NaN,3,1,107
2,1,1,30,2,0,1,14,1,40001,100377,...,0,4,4,14,2,4,NaN,2,1,107
3,1,1,30,2,0,1,14,1,40001,100377,...,0,1,4,14,2,4,NaN,2,1,107
4,1,1,30,2,0,1,14,1,40001,100377,...,0,1,4,14,2,4,NaN,2,1,107

In [30]:
path_hogt314 = 'C:/Users/sala5/Desktop/ENOE/2014/hogt314.csv'
df_hogt314 = pd.read_csv(path_hogt314, low_memory=False, encoding='latin')
df_hogt314.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,30,2,0,1,14,1,40001,100377,...,0,5,7,14,2,4,NaN,2,1,112
1,1,1,30,2,0,1,14,1,40001,100377,...,0,1,7,14,2,4,NaN,1,1,112
2,1,1,30,2,0,1,14,1,40001,100377,...,0,9,7,14,2,4,NaN,3,1,112
3,1,1,30,2,0,1,14,1,40001,100377,...,0,8,7,14,2,4,NaN,2,1,112
4,1,1,30,2,0,1,14,1,40001,100377,...,0,5,7,14,2,4,NaN,2,1,112

In [31]:
path_hogt414 = 'C:/Users/sala5/Desktop/ENOE/2014/hogt414.csv'
df_hogt414 = pd.read_csv(path_hogt414, low_memory=False, encoding='latin')
df_hogt414.head()

,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,1,1,30,2,0,1,14,1,40001,100377,...,0,1,10,14,2,4,NaN,1,1,110
1,1,1,30,2,0,1,14,1,40001,100377,...,0,29,9,14,2,4,NaN,3,1,110
2,1,1,30,2,0,1,14,1,40001,100377,...,0,29,9,14,2,4,NaN,2,1,110
3,1,1,30,2,0,1,14,1,40001,100377,...,6,7,10,14,,,NaN,0,1,110
4,1,1,30,2,0,1,14,1,40001,100377,...,0,29,9,14,2,4,NaN,2,1,110

In [32]:
df_copy_hogt114 = df_hogt114.copy()
df_copy_hogt214 = df_hogt214.copy()
df_copy_hogt314 = df_hogt314.copy()
df_copy_hogt414 = df_hogt414.copy()

In [33]:
print('hogt114: ', df_copy_hogt114.shape)
print('hogt214: ', df_copy_hogt214.shape)
print('hogt314: ', df_copy_hogt314.shape)
print('hogt414: ', df_copy_hogt414.shape)
print('total: ', 
      df_copy_hogt114.shape[0]+
      df_copy_hogt214.shape[0]+
      df_copy_hogt314.shape[0]+
      df_copy_hogt414.shape[0])

hogt114:  (121085, 31)
hogt214:  (121128, 31)
hogt314:  (121129, 31)
hogt414:  (121100, 31)
total:  484442

In [34]:
#concatenar
frames = [df_copy_hogt114, 
          df_copy_hogt214, 
          df_copy_hogt314, 
          df_copy_hogt414]

df_hogt_2014 = pd.concat(frames)
df_hogt_2014.shape

(484442, 31)

In [35]:
#exportar csv

path_df_hogt_2014 = 'C:/Users/sala5/Desktop/ENOE/2014/hogt_2014.csv'

df_hogt_2014.to_csv(path_or_buf=path_df_hogt_2014, index=True, encoding='utf-8')

## General

In [36]:
print(df_hogt_2011.shape)
print(df_hogt_2012.shape)
print(df_hogt_2013.shape)
print(df_hogt_2014.shape)
print("total: ", 
      df_hogt_2011.shape[0]+
      df_hogt_2012.shape[0]+
      df_hogt_2013.shape[0]+
      df_hogt_2014.shape[0])

(486223, 31)
(486335, 31)
(484935, 31)
(484442, 31)
total:  1941935

In [37]:
#concatenar
frames = [df_hogt_2011, 
          df_hogt_2012, 
          df_hogt_2013, 
          df_hogt_2014]

df_hogt = pd.concat(frames)
df_hogt.shape

(1941935, 31)

In [55]:
#exportar csv

path_df_hogt = 'C:/Users/sala5/Desktop/ENOE/hogt.csv'

df_hogt.to_csv(path_or_buf=path_df_hogt, index=True, encoding='utf-8')

In [5]:
path_df_hogt = 'C:/Users/sala5/Desktop/ENOE/hogt.csv'

In [8]:
df_hogt = pd.read_csv(path_df_hogt, low_memory = False)
df_hogt.head()

,Unnamed: 0,Unnamed: 0.1,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,...,r_def,d_dia,d_mes,d_anio,e_obs,p4_1,p4_2,inf,ur,fac
0,0,0,1,1,32,121,0,1,14,1,...,0,3,1,11,2,4,0,3,1,100
1,1,1,1,1,32,121,0,1,14,1,...,0,7,1,11,1,4,0,1,1,100
2,2,2,1,1,32,121,0,1,14,1,...,0,4,1,11,2,4,0,3,1,100
3,3,3,1,1,32,121,0,1,14,1,...,0,3,1,11,2,4,0,2,1,100
4,4,4,1,1,32,121,0,1,14,1,...,0,3,1,11,2,4,0,1,1,100

In [9]:
df_hogt.shape

(1048575, 33)

In [10]:
df_copy_hogt = df_hogt.copy()

In [16]:
df_copy_hogt.shape

(1048575, 33)

# Limpieza de Datos

## Número de la Localidad
0001-9998

In [17]:
df_copy_hogt['loc'] = df_copy_hogt['loc'].astype('int64')
df_copy_hogt['loc'].value_counts()

1       807319
3         7078
2         6886
8         5953
37        5262
4         5231
5         5093
9         4239
7         4190
18        4033
25        3685
6         3503
11        3458
60        3386
16        3344
12        3185
15        3139
10        3112
35        3022
14        2984
13        2892
22        2673
34        2637
23        2579
19        2460
44        2412
27        2317
24        2270
32        2149
122       2115
         ...
814          2
1349         2
556          2
629          2
637          2
1057         2
270          2
797          2
939          2
1805         2
409          2
1804         2
1648         2
272          2
2133         1
692          1
344          1
867          1
2564         1
636          1
714          1
623          1
248          1
609          1
1916         1
1137         1
2692         1
384          1
667          1
306          1
Name: loc, dtype: int64

## Número de municipio según entidad
001-575

In [18]:
df_copy_hogt['mun'] = df_copy_hogt['mun'].astype('int64')
df_copy_hogt['mun'].value_counts()

1      60449
2      54023
5      53036
4      52390
17     37913
30     37869
3      35333
6      32650
20     30866
7      29399
39     26325
19     24236
28     22511
14     22474
101    22286
114    20752
48     20721
53     20529
10     19311
50     18331
9      16753
11     13932
193    13056
106    12986
67     12854
8      12687
35     12369
38     12169
56     11471
18     10972
       ...
183      140
448      140
278      131
136      124
125      120
293      120
519      110
261      105
447      105
484      103
255      103
176      100
417      100
554      100
403      100
500       95
170       89
159       84
411       80
543       80
257       80
181       80
138       80
279       63
188       62
377       54
438       42
404       40
284       40
113       21
Name: mun, dtype: int64

## Estrato est
Primer dígito 1-4: El primer Carácter es la clave del estrato nacional

Segundo dígito 0-4: El segundo se usa para el subestrato o estrato estatal

In [19]:
df_copy_hogt['est'] = df_copy_hogt['est'].astype('int64')
df_copy_hogt['est'].value_counts()

20    158938
22    124052
23    118849
33    113861
32    109438
21     71990
10     62355
30     57798
43     50576
42     44201
12     36772
13     27523
11     20645
24     14972
31     14853
40     13669
14      5243
41      2840
Name: est, dtype: int64

## Número del estrato de diseño

0001-9999

In [20]:
df_copy_hogt['est_d'] = df_copy_hogt['est_d'].astype('int64')
df_copy_hogt['est_d'].value_counts()

275     9570
262     7376
26      7271
54      6925
155     6525
35      6132
55      6130
38      5599
28      5371
5       5345
272     5182
83      5180
174     4981
287     4897
164     4881
242     4859
192     4831
44      4716
15      4695
161     4653
98      4575
90      4542
63      4514
8       4409
7       4372
41      4363
47      4332
56      4329
197     4278
45      4271
        ...
1461      10
1487      10
1392      10
1350      10
1021      10
1166      10
1554      10
1367      10
1363      10
1364      10
1012      10
1218      10
1169      10
1036      10
1052      10
1355      10
1017       7
1576       5
1301       5
1109       5
1481       5
1307       5
1118       5
1299       5
1039       5
1023       5
1029       5
1551       5
1557       5
1486       5
Name: est_d, dtype: int64

## Número del ageb del marco nacional

00000-99999

In [21]:
df_copy_hogt['ageb'] = df_copy_hogt['ageb'].astype('int64')
df_copy_hogt['ageb'].value_counts()

0    1048575
Name: ageb, dtype: int64

## Tamaño de localidad t_loc

1: Localidades mayores de 100 000 habitantes

2: Localidades de 15 000 a 99 999 habitantes

3: Localidades de 2 500 a 14 999 habitantes

4: Localidades menores de 2 500 habitantes

In [22]:
df_copy_hogt['t_loc'] = df_copy_hogt['t_loc'].astype('int64')
df_copy_hogt['t_loc'].value_counts()

1    644443
4    170488
3    120891
2    112753
Name: t_loc, dtype: int64

## Ciudad Autorepresentada

01-43, 81-86

In [23]:
df_copy_hogt['cd_a'] = df_copy_hogt['cd_a'].astype('int64')
df_copy_hogt['cd_a'].value_counts()

86    168159
81     66793
84     55464
83     54100
1      46023
85     40260
2      27583
5      27502
3      27288
82     26153
4      24081
15     19162
27     19159
19     19109
33     19102
14     19031
13     19029
16     19004
31     18983
26     18974
17     18963
43     18951
29     18935
21     18930
9      18912
32     17118
18     17037
41     17002
12     16972
7      16963
8      16962
24     16882
36     16865
10     16832
25     16817
39     16813
40     16332
28     16330
Name: cd_a, dtype: int64

## Entidad
01-32

In [24]:
df_copy_hogt['ent'] = df_copy_hogt['ent'].astype('int64')
df_copy_hogt['ent'].value_counts()

15    47129
11    43068
14    39000
7     37694
2     37130
20    36855
19    36840
30    36730
12    35492
21    35398
5     34430
8     33326
16    33058
18    32773
1     31847
28    31722
6     31372
10    30812
13    30797
17    30722
4     30122
32    30097
9     29847
27    29330
24    29325
22    29012
25    28258
26    28143
31    27609
23    27599
29    26555
3     26483
Name: ent, dtype: int64

## Ámbito del número de control

Primer dígito: 0,4,5,6

Los últimos cuatro dígitos: 0001-9999 Consecutivo por entidad y ámbito

In [25]:
df_copy_hogt['con'] = df_copy_hogt['con'].astype('int64')
df_copy_hogt['con'].value_counts()

6001     5675
6002     5632
6005     5626
6018     5531
6020     5505
6004     5496
6003     5485
6019     5468
6017     5465
6016     5454
6015     5450
6014     5422
6013     5386
6006     5338
6023     5321
6022     5280
6021     5269
6024     5248
6025     5237
6008     5183
6010     5182
6012     5155
6009     5133
6011     5074
6007     5051
5022     4563
5026     4552
5027     4543
5005     4511
5013     4488
         ...
41206       5
40178       5
41205       5
41204       5
41203       5
41167       5
40128       5
40511       5
40129       5
40130       5
40158       5
40506       5
40187       5
41010       5
40161       5
40211       5
41236       5
40164       5
40165       5
40166       5
41011       5
40162       5
40186       5
40163       5
40188       5
40189       5
40184       5
40507       5
40185       5
40209       5
Name: con, dtype: int64

## Unidad primaria 

0100001-3299999 Número de la unidad de muestreo

In [26]:
df_copy_hogt['upm'] = df_copy_hogt['upm'].astype('int64')
df_copy_hogt['upm'].value_counts()

1          4668
14         4385
3          4067
46         3647
19         3612
37         3605
7          3560
22         3527
29         3476
23         3469
27         3468
9          3403
8          3352
4          3346
10         3320
40         3308
11         3134
31         3091
32         3083
53         3055
47         2987
39         2933
5          2890
38         2869
52         2815
49         2796
26         2766
2          2759
16         2747
18         2745
           ...
1800950       5
1400356       5
917838        5
1800163       5
1902381       5
102076        5
2003099       5
1000561       5
1521259       5
701913        5
909108        5
601012        5
1600068       5
800273        5
502372        5
1800702       5
702145        5
701523        5
501860        5
2002753       5
203562        5
1800297       5
1520758       5
502885        5
912173        5
1401404       5
400219        5
1516412       5
202773        5
2001905       3
Name: upm, dtype: int64

## Distribución semanal

Distribución semanal

Primer dígito 1-5 

Segundo y tercer dígito 01-13 Número de semana cuando el campo CD_A es menor o igual 43

01-03 Número del mes cuando el campo CD_A es mayor de 43

In [27]:
df_copy_hogt['d_sem'] = df_copy_hogt['d_sem'].astype('int64')
df_copy_hogt['d_sem'].value_counts()

202    41250
401    39885
103    38816
501    38629
102    38513
301    38504
503    38152
403    37056
302    36938
303    35733
201    35305
203    35302
402    35031
502    34979
101    34110
510    10037
506    10017
211     9986
409     9980
207     9976
405     9970
304     9969
504     9963
112     9955
213     9944
406     9925
108     9915
309     9871
105     9869
509     9861
       ...
210     9830
310     9827
206     9825
205     9822
107     9821
109     9820
208     9810
312     9798
307     9796
106     9774
209     9772
408     9762
111     9761
508     9757
204     9751
507     9751
513     9748
311     9724
305     9721
104     9709
308     9707
411     9703
110     9699
410     9689
407     9650
212     9629
404     9623
113     9570
511     9539
505     9493
Name: d_sem, dtype: int64

## Número progresivo de la vivienda

0001-9999 Número progresivo de la vivienda

In [28]:
df_copy_hogt['n_pro_viv'] = df_copy_hogt['n_pro_viv'].astype('int64')
df_copy_hogt['n_pro_viv'].value_counts()

18      6005
19      5978
22      5953
17      5913
64      5895
74      5850
76      5836
79      5836
40      5834
49      5831
73      5824
75      5813
14      5808
23      5807
38      5797
46      5788
57      5784
65      5781
37      5776
72      5766
60      5759
54      5759
21      5758
30      5748
16      5746
59      5742
24      5742
11      5733
66      5724
34      5710
        ...
1570       2
1564       2
1577       2
1441       2
1189       2
1715       1
1307       1
1635       1
1201       1
2103       1
1199       1
937        1
1613       1
1287       1
1232       1
1352       1
1250       1
2417       1
1647       1
2278       1
1331       1
2423       1
1226       1
2348       1
1651       1
1575       1
2302       1
1068       1
1607       1
1637       1
Name: n_pro_viv, dtype: int64

## Vivienda seleccionada

01-99 Número de vivienda seleccionada

In [29]:
df_copy_hogt['v_sel'] = df_copy_hogt['v_sel'].astype('int64')
df_copy_hogt['v_sel'].value_counts()

3     157299
4     157292
2     157268
1     157197
5     156745
6      17844
9      17843
7      17822
10     17807
8      17801
13     17100
16     17073
11     17067
14     17066
15     17059
12     17037
17     17029
18     17012
19     16662
20     16075
21      2833
22      1542
23        82
24        20
Name: v_sel, dtype: int64

## Número de hogar

1 Número de hogar principal dentro de la vivienda

2-9 Número de hogar adicional dentro de la vivienda

In [30]:
df_copy_hogt['n_hog'] = df_copy_hogt['n_hog'].astype('int64')
df_copy_hogt['n_hog'].value_counts()

1    1040314
2       6829
3       1111
4        248
5         54
6         19
Name: n_hog, dtype: int64

## Hogar mudado

0-4 Número de veces que el hogar se ha mudado

In [31]:
df_copy_hogt['h_mud'] = df_copy_hogt['h_mud'].astype('int64')
df_copy_hogt['h_mud'].value_counts()

0    1013077
1      31746
2       3446
3        294
4         12
Name: h_mud, dtype: int64

## Número de entrevista o visita

1-5 Número de entrevista o visita

In [32]:
df_copy_hogt['n_ent'] = df_copy_hogt['n_ent'].astype('int64')
df_copy_hogt['n_ent'].value_counts()

3    210003
5    209860
2    209847
4    209800
1    209065
Name: n_ent, dtype: int64

## Periodo

Primer dígito Trimestre de año
1 Enero-Marzo
2 Abril-Junio
3 Julio-Septiembre
4 Octubre-Diciembre

Segundo y tercer dígito
05-99 Año en curso

In [33]:
df_copy_hogt['per'] = df_copy_hogt['per'].astype('int64')
df_copy_hogt['per'].value_counts()

312    121633
412    121621
212    121583
311    121575
111    121564
211    121558
411    121526
112    121498
113     76017
Name: per, dtype: int64

## Resultado preliminar de la entrevista-
00 Entrevista completa

Tipo "A" Vivienda habitada

01 Nadie en el momento de la entrevista

02 Ausente temporal

03 Se negó a dar información

04 Informante inadecuado

05 Otro motivo

14 El hogar se mudó

15 Entrevista suspendida

In [35]:
df_copy_hogt['r_pre'] = df_copy_hogt['r_pre'].astype('int64')
df_copy_hogt['r_pre'].value_counts()

0     883648
6      74820
7      27974
3      14218
1      13327
2      12613
9       5718
5       4638
8       3718
12      2206
4       1776
13      1444
10      1345
14       784
15       323
11        23
Name: r_pre, dtype: int64

In [36]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 6)].index, 
                  inplace=True)

In [37]:
df_copy_hogt.r_def.value_counts()

0     901527
7      27368
3      11801
2       8213
9       5378
1       5093
8       3664
5       2363
12      2360
6       1502
13      1426
10      1328
4        805
14       792
15       116
11        19
Name: r_def, dtype: int64

In [38]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 7)].index, 
                  inplace=True)

In [39]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 3)].index, 
                  inplace=True)

In [40]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 1)].index, 
                  inplace=True)

In [41]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 2)].index, 
                  inplace=True)

In [42]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 5)].index, 
                  inplace=True)

In [43]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 9)].index, 
                  inplace=True)

In [44]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 8)].index, 
                  inplace=True)

In [45]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 12)].index, 
                  inplace=True)

In [46]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 4)].index, 
                  inplace=True)

In [47]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 13)].index, 
                  inplace=True)

In [48]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 10)].index, 
                  inplace=True)

In [49]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 14)].index, 
                  inplace=True)

In [50]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 15)].index, 
                  inplace=True)

In [51]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['r_pre'] == 11)].index, 
                  inplace=True)

In [52]:
df_copy_hogt.r_def.value_counts()

0    883648
Name: r_def, dtype: int64

## Día de referencia del preliminar resultado

01-31

In [53]:
df_copy_hogt['p_dia'] = df_copy_hogt['p_dia'].astype('int64')
df_copy_hogt['p_dia'].value_counts()

14    33910
13    33260
12    33235
11    32050
18    31487
17    31407
20    31209
26    30772
7     30573
9     30532
24    30525
23    30372
15    30225
10    30126
21    29454
8     29448
19    29423
22    29361
16    29220
25    29098
6     28822
27    28710
5     28097
28    27843
4     25480
3     23816
29    23170
30    22693
2     21747
1     20143
31    17440
Name: p_dia, dtype: int64

## Mes de referencia del resultado preliminar

01-12

In [54]:
df_copy_hogt['p_mes'] = df_copy_hogt['p_mes'].astype('int64')
df_copy_hogt['p_mes'].value_counts()

3     93254
1     88643
2     87002
5     74206
8     71349
10    69631
11    68380
6     68292
7     66926
9     66816
12    66426
4     62723
Name: p_mes, dtype: int64

## Año del resultado preliminar

05-99

In [55]:
df_copy_hogt['p_anio'] = df_copy_hogt['p_anio'].astype('int64')
df_copy_hogt['p_anio'].value_counts()

12    410485
11    409649
13     63514
Name: p_anio, dtype: int64

In [56]:
df_copy_hogt.drop(df_copy_hogt[(df_copy_hogt['p_anio'] == 15)].index, 
                  inplace=True)

## Resultado definitivo de la entrevista

00-Entrevista completa

In [57]:
df_copy_hogt['r_def'] = df_copy_hogt['r_def'].astype('int64')
df_copy_hogt['r_def'].value_counts()

0    883648
Name: r_def, dtype: int64

## Día definitivo de la entrevista
01-31

In [58]:
df_copy_hogt['d_dia'] = df_copy_hogt['d_dia'].astype('int64')
df_copy_hogt['d_dia'].value_counts()

14    33910
13    33260
12    33235
11    32050
18    31487
17    31407
20    31209
26    30772
7     30573
9     30532
24    30525
23    30372
15    30225
10    30126
21    29454
8     29448
19    29423
22    29361
16    29220
25    29098
6     28822
27    28710
5     28097
28    27843
4     25480
3     23816
29    23170
30    22693
2     21747
1     20143
31    17440
Name: d_dia, dtype: int64

## Mes definitivo de la entrevista
01-12

In [59]:
df_copy_hogt['d_mes'] = df_copy_hogt['d_mes'].astype('int64')
df_copy_hogt['d_mes'].value_counts()

3     93254
1     88643
2     87002
5     74206
8     71349
10    69631
11    68380
6     68292
7     66926
9     66816
12    66426
4     62723
Name: d_mes, dtype: int64

## aÑO DEFINITVO DE LA ENTREVISTA
05-99

In [60]:
df_copy_hogt['d_anio'] = df_copy_hogt['d_anio'].astype('int64')
df_copy_hogt['d_anio'].value_counts()

12    410485
11    409649
13     63514
Name: d_anio, dtype: int64

## Entrevista observada
1 si, 2 no

In [61]:
df_copy_hogt['e_obs'] = df_copy_hogt['e_obs'].astype('int64')
df_copy_hogt['e_obs'].value_counts()

2    849008
1     34640
Name: e_obs, dtype: int64

## Pregunta 4, ¿En este hogar se contrata a trabajadores domésticos…

1 de entrada por salida?

2 de planta?

3 de entrada por salida y de planta?

4 No contrata trabajadores

In [62]:
df_copy_hogt['p4_1'] = df_copy_hogt['p4_1'].astype('int64')
df_copy_hogt['p4_1'].value_counts()

4    832029
1     48290
2      2905
3       424
Name: p4_1, dtype: int64

## Pregunta 4,1 ¿Cuántos?

01-99

In [63]:
df_copy_hogt['p4_2'] = df_copy_hogt['p4_2'].astype('int64')
df_copy_hogt['p4_2'].value_counts()

0     832029
1      48868
2       2288
3        285
4        153
5          8
7          4
8          2
10         1
89         1
82         1
27         1
28         1
29         1
39         1
41         1
49         1
65         1
11         1
Name: p4_2, dtype: int64

## Renglón del informante

01-30 y 31=97 y 32=99

In [72]:
df_copy_hogt['inf'] = df_copy_hogt['inf'].astype('int64')
df_copy_hogt['inf'].value_counts()

2     371545
1     358021
3      60907
97     40902
4      28379
5      12278
6       5528
7       2415
99      1347
8       1140
9        591
10       279
11       143
12        73
13        42
14        25
15        10
16         7
17         6
20         3
21         3
22         2
18         1
26         1
Name: inf, dtype: int64

In [74]:
df_copy_hogt.inf.replace({97:31}, inplace= True)

In [75]:
df_copy_hogt['inf'].value_counts()

2     371545
1     358021
3      60907
31     40902
4      28379
5      12278
6       5528
7       2415
99      1347
8       1140
9        591
10       279
11       143
12        73
13        42
14        25
15        10
16         7
17         6
20         3
21         3
22         2
18         1
26         1
Name: inf, dtype: int64

In [76]:
df_copy_hogt.inf.replace({99:32}, inplace= True)

In [77]:
df_copy_hogt['inf'].value_counts()

2     371545
1     358021
3      60907
31     40902
4      28379
5      12278
6       5528
7       2415
32      1347
8       1140
9        591
10       279
11       143
12        73
13        42
14        25
15        10
16         7
17         6
20         3
21         3
22         2
18         1
26         1
Name: inf, dtype: int64

## Campo exclusivo de proceso
1-2

In [78]:
df_copy_hogt['ur'] = df_copy_hogt['ur'].astype('int64')
df_copy_hogt['ur'].value_counts()

1    524680
2    358968
Name: ur, dtype: int64

## Factor de expansión
000001-999998

In [81]:
df_copy_hogt['fac'] = df_copy_hogt['fac'].astype('int64')
df_copy_hogt['fac'].value_counts()

98      6172
100     6061
99      5838
102     5811
101     5806
103     5681
93      5581
95      5458
104     5372
94      5352
92      5322
97      5268
106     5232
105     5224
108     5215
96      5152
37      4852
110     4838
90      4803
38      4756
88      4746
111     4723
89      4632
114     4618
91      4556
107     4499
36      4458
109     4456
42      4438
113     4405
        ...
5870       1
3996       1
2615       1
3302       1
2800       1
3625       1
3024       1
4048       1
4316       1
6615       1
3028       1
4831       1
2778       1
3993       1
5947       1
3792       1
2760       1
8152       1
2867       1
4060       1
3130       1
3770       1
4576       1
3256       1
5525       1
3316       1
4273       1
2732       1
1942       1
2127       1
Name: fac, dtype: int64

# Exportar trabajo a csv

In [83]:
path_df_hogt = 'C:/Users/sala5/Desktop/ENOE/hogt_clean.csv'

df_copy_hogt.to_csv(path_or_buf=path_df_hogt, index=True, encoding='utf-8')